:root {
  --color__primary: #0066b2;
  --breakpoint: 820px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@page {
  size: letter portrait;
  margin: 0;
}
html {
  min-height: 100vh;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.2px;
  background: #fff;
  color: #404040;
  height: 11in;
  width: 8.5in;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen {
  body {
    width: 100%;
    max-width: 8.5in;
    height: 100%;
    min-height: 11in;
  }
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
strong {
  font-weight: 600;
}
.page-wrapper {
  height: 100%;
  display: flex;
  font-size: 10pt;
  flex-wrap: wrap;
}
.sidebar {
  flex: 0 0 30%;
  background: var(--color__primary);
  color: #fff;
  order: -1;
}
@media screen and (max-width: 820px) {
  .sidebar {
    order: 0;
    flex: 0 0 100%;
    padding: 0 0.4in 0.6in;
    background: none;
    color: inherit;
  }
}
@media screen and (max-width: 400px) {
  .sidebar {
    padding: 0 0.3in 0.6in;
  }
}
.skills__wrapper {
  padding-top: 1.9in;
  padding-bottom: 0.25in;
  padding-left: 0.35in;
  padding-right: 0; /* Hack to prevent word wrapping */
}
@media screen and (max-width: 820px) {
  .skills__wrapper {
    padding: 0;
  }
}
.skills__heading {
  font-size: 11pt;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5pt;
}
@media screen and (max-width: 820px) {
  .skills__heading {
    font-size: 11pt;
    font-weight: 600;
    padding-right: 15pt;
  }
}
.skills__container {
  margin-top: 0;
  margin-bottom: 23pt;
}
.skill {
  margin-bottom: 4pt;
  font-size: 9.5pt;
}
@media screen and (max-width: 820px) {
  .skill {
    margin-bottom: 2pt;
  }
}

.avatar__wrapper {
  background: var(--color__primary);
  padding: 0.3in 0.5in;
  margin-top: 0.9in;
}
.resume {
  flex: 1 0 0;
  padding: 0.4in 0.4in;
}
@media screen and (max-width: 820px) {
  .resume {
    padding: 0.4in 0.4in 0;
  }
}
@media screen and (max-width: 400px) {
  .resume {
    padding: 0.4in 0.3in 0;
  }
}
.resume__title {
  position: relative;
  left: -242px;
  margin: 0;
  font-size: 62.2pt;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: var(--color__primary);
}
@media screen and (max-width: 820px) {
  .resume__title {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .resume__title {
    font-size: clamp(30pt, 12vw, 60pt);
  }
}
.first-name {
  color: #fff;
}
@media screen and (max-width: 820px) {
  .first-name {
    color: inherit;
  }
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 10pt;
  margin: 0;
}
.contact-list__item {
  margin-bottom: 0.1em;
}
.contact-list__item:not(:last-of-type):after {
  content: "•";
  display: inline-block;
  margin-right: 0.6em;
  margin-left: 0.4em;
}
@media screen and (max-width: 450px) {
  .contact-list__item {
    font-size: 9pt;
    line-height: 1.4;
  }
  /** HACK: Switch order of email to make everything fit on mobile */
  .contact-list__item:nth-of-type(2) {
    order: -1;
  }
}
.contact-list__link {
  text-decoration-skip-ink: none;
  color: var(--color__primary);
}
.section__title {
  margin: 1.6em 0 0.25em;
  color: var(--color__primary);
  text-transform: uppercase;
}
.job__container {
  margin-top: 0;
}
.job {
  margin-bottom: 6pt;
}
.job:not(:first-of-type) {
  margin-top: 18pt;
}
.job__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6pt;
}
.job__title {
  font-size: 11pt;
  font-weight: 600;
  padding-right: 15pt;
}
.job__title--secondary {
  margin-left: 0.3em;
  font-size: 10pt;
  font-weight: 400;
}
.job__company {
  font-weight: 400;
}
.job__date {
  font-weight: 500;
  font-size: 9pt;
  color: #666;
}
.job__date--secondary {
  font-size: 8pt;
}
.job__responsibilities {
  list-style: disc;
  padding-left: 16pt;
}
@media screen and (max-width: 600px) {
  .job__responsibilities {
    padding-left: 0;
  }
}
.job__responsibility {
  margin-bottom: 6pt;
  font-size: 9.5pt;
}
.education-detail {
  font-size: 9pt;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Utilities */
.two-column {
  display: flex;
  flex-wrap: wrap;
}
.two-column > * {
  flex: 0 0 50%;
}
@media screen and (max-width: 820px) and (min-width: 501px) {
  .md\:two-column {
    display: flex;
    flex-wrap: wrap;
  }
  .md\:two-column > * {
    flex: 0 0 50%;
  }
  .md\:three-column {
    display: flex;
    flex-wrap: wrap;
  }
  .md\:three-column > * {
    flex: 0 0 33.33%;
  }
}
@media screen and (min-width: 801px) {
  .screen-reader--desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
}
@media print {
  .screen-reader--desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
}
